.coreServices {
  padding: 50px 0;
  background-color: #fff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0px;
}

.heading {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 120%;
  color: #0e0d0d;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .coreServices {
    padding: 40px 0;
  }

  .container {
    padding: 0 20px;
  }

  .heading {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
} 