.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
  width: 100%;
  background: #0d0d0d;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  z-index: 50;
}
.cta {
  background-color: #eb1010;
  color: white;
  padding: 13px 18px 12px;
  text-align: center;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.cta:hover {
  background-color: #aa1414;
  transition: background-color 0.3s ease;
}
/* Desktop Navigation */
.desktopNav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navItem {
  position: relative;
  padding: 0.5rem 0;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  padding: 10px 15px;
}

.navLink:hover {
  background-color: #313131;
  border-radius: 80px;
  transition: background-color 0.3s ease;
}
.chevron {
  transition: transform 0.3s ease;
}

.navLink:hover .chevron {
  transform: rotate(180deg);
}
.navItem:hover .chevron {
  transform: rotate(180deg);
}
.navItem:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform-origin: top;
  transform: translateX(-50%) translateY(5px);
  transform: scaleY(1);
  transition: transform 0.3s ease;
}
.dropdown {
  position: absolute;
  top: calc(100% + -8px);
  left: 0%;
  transform: translateX(-50%);
  transform: scaleY(0);
  min-width: 220px;
  background: #0d0d0d;
  border-radius: 16px;
  padding: 8px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid rgba(252, 241, 241, 0.1);
}


.dropdownItem {
  color: #fff;
  padding: 10px;
  border-radius: 40px;
  transition: all 0.1s ease;
  text-decoration: none;
  font-family: inherit;
  font-size: 0.9rem;
  display: block;
  width: 100%;
}

.dropdownItem:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
}

/* Mobile Menu Button */
.menuButton {
  display: none;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  z-index: 50;
  position: relative;
  transition: transform 0.3s ease;
}

.menuButton:hover {
  transform: scale(1.1);
}
/* Hamburger to X transition */
.menuIcon {
  position: relative;
  transition: transform 0.3s ease;
}

.menuIcon.open {
  transform: rotate(90deg);
}

/* Individual icon transitions */
.menuIcon svg {
  transition: opacity 0.2s ease, transform 0.3s ease;
}

.menuIcon .menu {
  opacity: 1;
  transform: scale(1);
}

.menuIcon .close {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0.5) rotate(-90deg);
}

.menuIcon.open .menu {
  opacity: 0;
  transform: scale(0.5) rotate(90deg);
}

.menuIcon.open .close {
  color: #ff0042;
  opacity: 1;
  transform: scale(1) rotate(0);
}

/* Close button transition */
.closeButton {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.closeButton:hover {
  transform: rotate(90deg);
}

/* Mobile Navigation */
.mobileNav {
  position: fixed;
  top: 90;
  right: 10;
  height: fit-content;
  min-width: 300px;
  border-radius: 34px;
  background: #0d0d0d;
  padding: 12px 0px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1000;
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1), visibility 0.4s ease;
  z-index: 1001;
}

.mobileNav.open {
  transform: translateX(0);
  visibility: visible;
  transition: transform 0.3s ease-in-out;
}

.accordionItem {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px 0;
}

.accordionButton {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 40px;
}

.accordionIcon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.accordionContent {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  animation: fadeIn 0.3s ease forwards;
}

.accordionLink {
  color: #fff;
  padding: 12px;
  text-decoration: none;
  border-radius: 40px;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.accordionLink:hover {
  background: rgba(255, 255, 255, 0.1);
}

.mobileButton {
  padding: 24px 12px;
  display: flex;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 1023px) {
  .desktopNav {
    display: none;
  }

  .menuButton {
    display: block;
  }

  .mobileNav {
    visibility: hidden;
  }

  .mobileNav.open {
    visibility: visible;
  }
}
@media (min-width: 1024px) {
  .mobileNav {
    display: none !important;
  }
}

